<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1JSiRFbWTdihf-LiEq69VRfMTxyQsZT8</string>
	<key>GCM_SENDER_ID</key>
	<string>704301952113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pucminas.vacineme</string>
	<key>PROJECT_ID</key>
	<string>vacineme-well</string>
	<key>STORAGE_BUCKET</key>
	<string>vacineme-well.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704301952113:ios:7a039293a3261e1703ffd0</string>
</dict>
</plist>